<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DB_SOPConnectionString" connectionString="Data Source=DESKTOP-9LB8LS2\MSSQLSERVER2008;Initial Catalog=veterinaria;User ID=pc1;Password=123?" providerName="System.Data.SqlClient"/>
    <add name="DB_NADsiConnectionString" connectionString="Data Source=nadsi-db.cj0ebftulpp7.us-east-1.rds.amazonaws.com;Initial Catalog=DBNADSI_QRO;User ID=NADSIDB;Password=cRU2raC#" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1000000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <pages validateRequest="false" enableEventValidation="false"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <sessionState mode="InProc" timeout="180"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <httpRuntime maxRequestLength="50000"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <services>
      <service name="Nadlogistica" behaviorConfiguration="debug"/>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBinding_INadlogistica" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="GlobalSAAIWEB_RegistrosSAAIM3Soap" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="ws_bajio_nadtraficoSoap" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ws_nadsiSoap" />
        <binding name="ws_nadsi_recepcion_guiaSoap" />
        <binding name="ws_nadsi_facturas_guiasSoap" />
        <binding name="ws_nadsiSoap1" />
        <binding name="ws_nadsi_recepcion_guiaSoap1" />
        <binding name="ws_nadsi_facturas_guiasSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.nadglobalapps.net/WSNLC/NadLogistica.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_INadlogistica"
        contract="ws_gw_nadlogistica.INadlogistica" name="BasicHttpsBinding_INadlogistica" />
      <endpoint address="https://www.globalsaai.net/WS_GlobalSAAIM3/GlobalSAAIWEB_RegistrosSAAIM3.asmx"
        binding="basicHttpBinding" bindingConfiguration="GlobalSAAIWEB_RegistrosSAAIM3Soap"
        contract="ws_global_web.GlobalSAAIWEB_RegistrosSAAIM3Soap" name="GlobalSAAIWEB_RegistrosSAAIM3Soap" />
      <endpoint address="http://54.152.190.74/WS_NADTRAFICO/WS/ws_bajio_nadtrafico.asmx"
        binding="basicHttpBinding" bindingConfiguration="ws_bajio_nadtraficoSoap"
        contract="ws_bajio_nadtrafico.ws_bajio_nadtraficoSoap" name="ws_bajio_nadtraficoSoap" />
      <endpoint address="https://www.globalsaai.net/GlobalWebService/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="ws_gw_integracion.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://35.169.190.191/NADSI_Pruebas/WS/ws_nadsi.asmx"
        binding="basicHttpBinding" bindingConfiguration="ws_nadsiSoap"
        contract="ws_nad_si.ws_nadsiSoap" name="ws_nadsiSoap" />
      <endpoint address="http://35.169.190.191/NADSI_Pruebas/WS/ws_nadsi_recepcion_guia.asmx"
        binding="basicHttpBinding" bindingConfiguration="ws_nadsi_recepcion_guiaSoap"
        contract="ws_nad_si_2.ws_nadsi_recepcion_guiaSoap" name="ws_nadsi_recepcion_guiaSoap" />
      <endpoint address="http://35.169.190.191/NADSI_Pruebas/WS/ws_nadsi_facturas_guias.asmx"
        binding="basicHttpBinding" bindingConfiguration="ws_nadsi_facturas_guiasSoap"
        contract="ws_nad_si_3.ws_nadsi_facturas_guiasSoap" name="ws_nadsi_facturas_guiasSoap" />
      <endpoint address="http://34.200.150.68/nadsi_qro/WS/ws_nadsi.asmx"
        binding="basicHttpBinding" bindingConfiguration="ws_nadsiSoap1"
        contract="ws_nad_si_v2.ws_nadsiSoap" name="ws_nadsiSoap1" />
      <endpoint address="http://34.200.150.68/nadsi_qro/WS/ws_nadsi_recepcion_guia.asmx"
        binding="basicHttpBinding" bindingConfiguration="ws_nadsi_recepcion_guiaSoap1"
        contract="ws_nad_si_2_v2.ws_nadsi_recepcion_guiaSoap" name="ws_nadsi_recepcion_guiaSoap1" />
      <endpoint address="http://34.200.150.68/nadsi_qro/WS/ws_nadsi_facturas_guias.asmx"
        binding="basicHttpBinding" bindingConfiguration="ws_nadsi_facturas_guiasSoap1"
        contract="ws_nad_si_3_v2.ws_nadsi_facturas_guiasSoap" name="ws_nadsi_facturas_guiasSoap1" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <appSettings>
    <add key="ws_ee_bajio.nadtrafico_ws_pedimentos" value="http://bajio.nadtrafico.com/ws_server/nadtrafico_ws_pedimentos.php"/>
    <add key="ws_nad_conta.server" value="http://conta.nadglobal.com/webservice/server.php"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>